<?xml version="1.0" encoding="UTF-8" ?>

<!-- mybatis 框架头文件声明，类似spring环境，均需要加入头文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 添加数据库连接相关配置信息 -->
<configuration>
    <properties resource="jdbc.properties"></properties>

    <typeAliases>
        <!-- 单独指定 -->
        <!--<typeAlias type="com.yuanziren.po.User" alias="user"></typeAlias>-->
        <!-- 包扫描 -->
        <package name="com.yuanziren.po"/>
    </typeAliases>



    <environments default="development">
        <environment id="development">
            <!-- 加入事务控制 -->
            <transactionManager type="jdbc"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="pooled">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver2}" />
                <property name="url" value="${jdbc.url2}" />
                <property name="username" value="${jdbc.username2}" />
                <property name="password" value="${jdbc.password2}" />
            </dataSource>
        </environment>

    </environments>

    <!-- mapper 配置文件指定 文件数量可配置多个-->
    <mappers>
        <!-- 1. 通过xml配置 -->
        <!--<mapper resource="com/shsxt/mapper/UserMapper.xml"/>-->
        <!-- 2. 通过注解配置 -->
        <!--<mapper class="com.shsxt.dao.UserDao"/>-->
        <!-- 3. 包扫描 -->
        <package name="com.yuanziren.mapper"/>
    </mappers>

</configuration>